/* Setting color variables */
:root {
    --color-1: #2b6dd3;
    --color-2: #d3912b;
    --color-3: #1e4c93;
    --color-4: #ffffff;
    --color-5: #b3b3b6;
    --color-6: #a97422;
    --color-7: #14294bd0;
    --color-8: #6a99e1;
}

#nav-bar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 8vh;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-7);
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
}

#menu {
    display: flex;
}

#menu li{
    list-style: none;
    padding:0 50px;
    color: var(--color-3);
    font-weight: bolder;
    font-size: 12px;
}

#menu a {
    color: var(--color-1)
}

#menu a:hover{
    color: var(--color-2);
}

#logo {
    width: 12%;
    padding-left: 2vw;
}


#burger {
    display: none;
}

#burger div {
    width: 25px;
    height: 3px;
    background-color: var(--color-2);
    margin: 5px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Toggle sctive styling */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.toggle .line2 {
    opacity: 0;
}
  
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Navigation styling for tablet */
@media screen and (min-width: 521px) and (max-width: 1024px) {  
    nav a {
      padding: 0px 1.5em;
    }

    #logo {
        width: 12%;
    }

    #menu li{
        padding:0 15px;
        font-size: 12px;
    }
}

/* Navigation styling for Phone size */
@media screen and (max-width: 520px) {
    #logo {
        width: 24%;
        z-index: 998;
    }

    #nav-bar #menu {
        position: fixed;
        display: flex;
        background-color: var(--color-7);
        top: 0vh;
        left: -100%;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all 0.3s ease-in;
    }

    #nav-bar #menu.active{
        left: 0;
    }

    #burger {
        display: block;
        cursor: pointer;
        padding-right: 2vw;
        z-index: 999;
    }

    .body-fixed {
        height: 100%;
        overflow: hidden;
    }

    #nav-bar.remove-blur {
        backdrop-filter: none;
      }
    
    .add-blur {
        -webkit-backdrop-filter: blur(80px);
        backdrop-filter: blur(80px);
      }
}
 
/* About page styling */
section {
    box-sizing: border-box;
}

#section-1 {
    display: flex;
    background-image: url("/assets/img/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%; 
    background-size: cover;
    height: 100vh;
}


div#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

div#landing-page > h4 {
    color: var(--color-4);
    font-weight: lighter;
    font-size: 1.5vw;
    padding-bottom: 0.025em;
  }

  div#landing-page > h1 {
    color: var(--color-2);
    font-weight: bolder;
    font-size: 4.5vw;
    padding-bottom: 0.05em;
  }

  div#landing-page > h2 {
    color: var(--color-4);
    font-weight: bold;
    font-size: 4vw;
    padding-bottom: 0.05em;
  }

  div#landing-page > h3 {
    color: var(--color-5);
    font-weight: bold;
    word-wrap: break-word;
    text-align: justify;
    font-size: 1.6vw;
  }

  div#landing-button button {
      background-color: var(--color-2);
      color: var(--color-3);
      border: 1px solid var(--color-2);
      border-radius: 5px;
      font-size: 1.2vw;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      padding: 10px;
      margin-top: 20px;
      margin-right: 20px;
      cursor: pointer;
      width: 12em;
      height: 4.5em;
      outline: none;
  }

  div#landing-button button:hover, 
  div#landing-button button:focus {
    background-color: #d3902b2c;
  }
  
  div#landing-button button:active {
    background-color: var(--color-6);
    border: 3px solid var(--color-2);
  }

div#social-media {
    display: flex;
    position: fixed;
    bottom: 0;
    padding-left: 2vw;
    flex-direction: column;
}

div#social-media ul {
    list-style: none;
}

div#social-media .iconify {
    color: var(--color-1);
    font-size: 24px;
}

div#social-media .iconify:hover,
div#social-media .iconify:focus{
    color: var(--color-2);
}

.vl {
    border-left: 1px solid var(--color-5);
    height: 8vh;
    align-self: center;
}  