<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta description of the website -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aboze Brain John Jnr">
    <meta name="description" content="Responsive data scientist portfolio website">
    <meta property="og:description" content="A responsive portfolio website designed and developed by Aboze Brain John.">
    <!-- Adding social media tag -->
    <meta property="og:title" content="Aboze Brain John's Portfolio Website">
    <meta property="og:description" content="A responsive portfolio website using HTML, CSS and JavaScript">
    <meta property="og:type" content="article">
    <meta property="og:image" content="/assets/img/logo.png">  <!--Change to absolute path later-->
    <meta property="twitter:title" content="Aboze Brain John's Portfolio Website">
    <meta property="twitter:description" content="A responsive portfolio website using HTML, CSS and JavaScript">
    <meta property="twitter:type" content="article">
    <meta property="twitter:image" content="/assets/img/logo.png">  <!--Change to absolute path later-->
    <!-- Adding Favicon icon -->
    <link rel="icon" type="png" href="/assets/img/favicon-icon.png"> 
    <!-- Adding Default CSS styling -->
    <link rel="stylesheet" href="/assets/css/default.css">
    <!-- Adding main CSS style sheet -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- Adding Iconscout syling -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Portfolio Website</title>
    <!-- Adding Swiper JS Stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
    <!-- Header -->
    <header id="header" class="header">
        <nav class="nav container">
            <a href="#" class="nav_logo">CodeBrain</a>
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list grid">
                    <li class="nav_item">
                        <a href="#home" class="nav_link">
                            <i class="uil uil-home nav_icon"></i>Home
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#about" class="nav_link">
                            <i class="uil uil-brain nav_icon"></i>About
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#skills" class="nav_link">
                            <i class="uil uil-file-check-alt nav_icon"></i>Skills
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#qualification" class="nav_link">
                            <i class="uil uil-file-check-alt nav_icon"></i>Qualification
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#services" class="nav_link">
                            <i class="uil uil-suitcase nav_icon"></i>Services
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#pencraft" class="nav_link">
                            <i class="uil uil-books nav_icon"></i>Pencraft
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#talks" class="nav_link">
                            <i class="uil uil-megaphone nav_icon"></i>Talks
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#portfolio" class="nav_link">
                            <i class="uil uil-scenery nav_icon"></i>Portfolio
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#contact" class="nav_link">
                            <i class="uil uil-message nav_icon"></i>Contact Me
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav_close" id="nav-close"></i>
            </div>
            <div class="nav_btns">
                <div class="nav_toggle" id="nav-toggle"><i class="uil uil-icons"></i></div>
            </div>
        </nav>
    </header>
    <main class="main">
        <!-- Landing page -->
        <section class="home section" id="home">
            <div class="home_container container grid">
                <div class="home_content grid">
                    <div class="home_social grid">
                        <a href="#" target="_blank" class="home_social_icon">
                            <i class="uil uil-github"></i>
                        </a>
                        <a href="#" target="_blank" class="home_social_icon">
                            <i class="uil uil-linkedin"></i>
                        </a>
                        <a href="#" target="_blank" class="home_social_icon">
                            <i class="uil uil-medium-m"></i>
                        </a>
                        <a href="#" target="_blank" class="home_social_icon">
                            <i class="uil uil-twitter"></i>
                        </a>
                    </div>
                    <div class="home_img">
                        <svg class="home_blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <mask id="mask0" mask-type="alpha">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                            </mask>
                            <g mask="url(#mask0)">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                                <image class="home_blob_img" x='12' y='15' xlink:href="/assets/img/profile_img.png"/>
                            </g>
                        </svg>
                    </div>
                    <div class="home_data">
                        <h1 class="home_title">Hi, I am Brain</h1>
                        <h3 class="home_subtitle">Data Scientist</h3>
                        <p class="home_description">High level experience in designing, building and documenting data-driven products</p>
                        <a href="#contact" class="button button_flex">
                            Contact Me<i class="uil uil-message button_icon"></i>
                        </a>
                        
                    </div>
                </div>
                <div class="home_scroll">
                    <a href="#about" class="home_scroll_button button_flex">
                        <i class="uil uil-mouse-alt-2 home_scroll_mouse"></i>
                    </a>
                    <span class="home_scroll_name">Scroll down</span>
                    <i class="uil uil-angle-double-down home_scroll_arrow"></i>
                </div>
            </div>
        </section>
        <!-- About section -->
        <section class="about section" id="about">
            <h2 class="section_title">About Me</h2>
            <span class="section_subtitle">My Introduction</span>

            <div class="about_container container grid">
                <img src="/assets/img/profile_img_background.png" alt="Profile Image" class="about_img">
                <div class="about_data">
                    <p class="about_description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla laudantium voluptatum ullam dolorum repellendus nam deleniti, repudiandae qui inventore, quam ad harum beatae necessitatibus iusto est assumenda reiciendis commodi sit!
                    </p>
                    <div class="about_info">
                        <div>
                            <span class="about_info_title">08+</span>
                            <span class="about_info_name"> Years <br> Experience</span>
                        </div>
                        <div>
                            <span class="about_info_title">20+</span>
                            <span class="about_info_name"> Completed <br> Projects</span>
                        </div>
                        <div>
                            <span class="about_info_title">05+</span>
                            <span class="about_info_name"> Companies <br> Worked</span>
                        </div>
                    </div>

                    <div class="about_buttons">
                        <a download="" href="#" class="button button_flex">
                            Download CV<i class="uil uil-download-alt button_icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Skills section -->
        <section class="skills section" id="skills">
            <h2 class="section_title">Skills</h2>
            <span class="section_subtitle">My technical level</span>

            <div class="skills_container container grid">
                <div>
                    <!-- Skill 1 -->
                    <div class="skills_content skills_open">
                        <div class="skills_header">
                            <i class="uil uil-brackets-curly skills_icon"></i>

                            <div>
                                <h1 class="skills_title">Frontend developer</h1>
                                <span class="skills_subtitle">More than 4 years</span>
                            </div>
                            
                            <i class="uil uil-angle-down skills_arrow"></i>
                        </div>

                        <div class="skills_list grid">
                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">HTML</h3>
                                    <span class="skills_number">90%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_html"></span>
                                </div>
                            </div>

                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">CSS</h3>
                                    <span class="skills_number">80%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_css"></span>
                                </div>
                            </div>

                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">JavaScript</h3>
                                    <span class="skills_number">70%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_js"></span>
                                </div>
                            </div>

                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">React</h3>
                                    <span class="skills_number">60%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_react"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Skill 2 -->
                    <div class="skills_content skills_close">
                        <div class="skills_header">
                            <i class="uil uil-server skills_icon"></i>
                            
                            <div>
                                <h1 class="sjills_title">Backend developer</h1>
                                <span class="skills_subtitle">More than 2 years</span>
                            </div>
                            
                            <i class="uil uil-angle-down skills_arrow"></i>
                        </div>

                        <div class="skills_list grid">
                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Flask</h3>
                                    <span class="skills_number">70%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_flask"></span>
                                </div>
                            </div>

                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Node JS</h3>
                                    <span class="skills_number">80%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_node"></span>
                                </div>
                            </div>

                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Firebase</h3>
                                    <span class="skills_number">70%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_firebase"></span>
                                </div>
                            </div>

                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Python</h3>
                                    <span class="skills_number">20%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_python"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Skill 3 -->
                    <div class="skills_content skills_close">
                        <div class="skills_header">
                            <i class="uil uil-lightbulb-alt skills_icon"></i>

                            <div>
                                <h1 class="sjills_title">Data Scientist</h1>
                                <span class="skills_subtitle">More than 4 years</span>
                            </div>
                            
                            <i class="uil uil-angle-down skills_arrow"></i>
                        </div>

                        <div class="skills_list grid">
                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Data Preprocessing and wrangling</h3>
                                    <span class="skills_number">90%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_data_preprocess"></span>
                                </div>
                            </div>

                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Data Visualization</h3>
                                    <span class="skills_number">80%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_data_viz"></span>
                                </div>
                            </div>

                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Machine Learning Modeling</h3>
                                    <span class="skills_number">70%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_ml"></span>
                                </div>
                            </div>

                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Deep learning Modeling</h3>
                                    <span class="skills_number">60%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_dl"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Qualification section -->
        <section class="qualification section" id="qualification">
            <h2 class="section_title">Qualification</h2>
            <span class="section_subtitle">My Personal Journey</span>

            <div class="qualification_container container">
                 <!-- Qualification tab -->
                <div class="qualification_tabs">
                    <!-- Experience tab -->
                    <div class="qualification_tab button_flex">
                        <i class="uil uil-briefcase-alt qualification_icon"></i>
                        Experience
                    </div>
                </div>

                <!-- Qualification content -->
                <div class="qualification_sections">
                    <div class="qualification_content">
                        <!-- Qualification 1 -->
                        <div class="qualification_data">
                            <div>
                                <h3 class="qualification_title">Petroleum Engineering</h3>
                                <span class="qualification_subtitle">Rivers State University</span>
                                <span class="qualification_subtitle">First Class Division</span>
                                <div class="qualification_calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                     Aug 2018 - Sept 2021
                                </div>
                            </div>
                            <div>
                                <span class="qualification_rounder"></span>
                                <span class="qualification_line"></span>
                            </div> 
                        </div>
                         <!-- Qualification 2 -->
                         <div class="qualification_data">
                             <div></div>

                             <div>
                                <span class="qualification_rounder"></span>
                                <span class="qualification_line"></span>
                            </div>

                            <div>
                                <h3 class="qualification_title">Research Assistant</h3>
                                <span class="qualification_subtitle">Nile University of Nigeria</span>
                                <div class="qualification_calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                     Sept 2018 - Feb 2019
                                </div>   
                            </div>
                        </div>
                         <!-- Qualification 3 -->
                         <div class="qualification_data">
                            <div>
                                <h3 class="qualification_title">Data Scientist</h3>
                                <span class="qualification_subtitle">Data Scientists Network</span>
                                <div class="qualification_calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                     Sept 2019 - Aug 2020
                                </div>
                            </div>
                            <div>
                                <span class="qualification_rounder"></span>
                                <span class="qualification_line"></span>
                            </div> 
                        </div>
                         <!-- Qualification 4 -->
                         <div class="qualification_data">
                             <div></div>
                             <div>
                                <span class="qualification_rounder"></span>
                                <span class="qualification_line"></span>
                            </div> 
                            <div>
                                <h3 class="qualification_title">Project Data Analyst</h3>
                                <span class="qualification_subtitle">Data Scientists Network</span>
                                <div class="qualification_calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                     Aug 2020 - Feb 2021
                                </div>
                            </div>
                        </div>
                        <!-- Qualification 5 -->
                        <div class="qualification_data">
                        <div>
                            <h3 class="qualification_title">Technical Writer</h3>
                            <span class="qualification_subtitle">Saturn Cloud</span>
                            <div class="qualification_calendar">
                                <i class="uil uil-calendar-alt"></i>
                                Apr 2020 - Sept 2020
                            </div>
                        </div>
                        <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>
                        </div> 
                        </div>
                        <!-- Qualification 6 -->
                        <div class="qualification_data">
                            <div></div>

                            <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>
                        </div>

                        <div>
                            <h3 class="qualification_title">Teaching Assistant</h3>
                            <span class="qualification_subtitle">The Gradient Boost</span>
                            <div class="qualification_calendar">
                                <i class="uil uil-calendar-alt"></i>
                                    Jul 2020 - Sept 2020
                            </div>   
                        </div>
                        </div>
                        <!-- Qualification 7 -->
                        <div class="qualification_data">
                        <div>
                            <h3 class="qualification_title">Technical Witer</h3>
                            <span class="qualification_subtitle">Neptune AI</span>
                            <div class="qualification_calendar">
                                <i class="uil uil-calendar-alt"></i>
                                Sept 2020 - Present
                            </div>
                        </div>
                        <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>
                        </div> 
                        </div>
                        <!-- Qualification 8 -->
                        <div class="qualification_data">
                            <div></div>
                            <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>
                        </div> 
                        <div>
                            <h3 class="qualification_title">Technical Writer</h3>
                            <span class="qualification_subtitle">Vonage</span>
                            <div class="qualification_calendar">
                                <i class="uil uil-calendar-alt"></i>
                                Nov 2020 - Apr 2021
                            </div>
                        </div>
                        </div>
                        <!-- Qualification 9 -->
                        <div class="qualification_data">
                            <div>
                                <h3 class="qualification_title">Technology Business Analyst</h3>
                                <span class="qualification_subtitle">AXA Nigeria</span>
                                <div class="qualification_calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                     Mar 2021 - Present
                                </div>
                            </div>
                            <div>
                                <span class="qualification_rounder"></span>
                                <span class="qualification_line"></span>
                            </div> 
                        </div>
                         <!-- Qualification 10 -->
                         <div class="qualification_data">
                             <div></div>

                             <div>
                                <span class="qualification_rounder"></span>
                                <span class="qualification_line"></span>
                            </div>

                            <div>
                                <h3 class="qualification_title">Technical Writer</h3>
                                <span class="qualification_subtitle">Cnvrg</span>
                                <div class="qualification_calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                     Jun 2021 - Present
                                </div>   
                            </div>
                        </div>
                         <!-- Qualification 11 -->
                         <div class="qualification_data">
                            <div>
                                <h3 class="qualification_title">Technical Writer</h3>
                                <span class="qualification_subtitle">Layer</span>
                                <div class="qualification_calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                     Oct 2020 - Present
                                </div>
                            </div>
                            <div>
                                <span class="qualification_rounder"></span>
                                <span class="qualification_line"></span>
                            </div> 
                        </div>
                         <!-- Qualification 12 -->
                         <div class="qualification_data">
                             <div></div>
                             <div>
                                <span class="qualification_rounder"></span>
                                <span class="qualification_line"></span>
                            </div> 
                            <div>
                                <h3 class="qualification_title">Technical Writer</h3>
                                <span class="qualification_subtitle">LogRocket</span>
                                <div class="qualification_calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                     Jan 2022 - Present
                                </div>
                            </div>
                        </div>
                         <!-- Qualification 13 -->
                         <div class="qualification_data">
                            <div>
                                <h3 class="qualification_title">Technical Writer</h3>
                                <span class="qualification_subtitle">TrueFoundry</span>
                                <div class="qualification_calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                     Feb 2022 - Present
                                </div>
                            </div>
                            <div>
                                <span class="qualification_rounder"></span>
                                <!-- <span class="qualification_line"></span> -->
                            </div> 
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Service section -->
        <section class="services section" id="services">
            <h2 class="section_title">Services</h2>
            <span class="section_subtitle">What I offer</span>

            <div class="services_container container grid"> 
                <!-- Service 1 -->
                <div class="services_content">
                    <div>
                        <i class="uil uil-desktop-alt services_icon"></i>
                        <h3 class="services_title">Frontend <br> Development</h3>
                    </div>
    
                    <span class="button button_flex button_small button_link services_button">
                        View more
                        <i class="uil uil-arrow-right button_icon"></i>
                    </span>

                    <div class="services_modal">
                        <div class="services_modal_content">
                            <h4 class="services_modal_title">Frontend <br> Development</h4>
                            <i class="uil uil-times services_modal_close"></i>

                            <ul class="services_modal_services grid">
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>A</p>
                                </li>
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>A</p>
                                </li>
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>A</p>
                                </li>
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>A</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <!-- Service 2 -->
                 <div class="services_content">
                    <div>
                        <i class="uil uil-desktop-alt services_icon"></i>
                        <h3 class="services_title">Frontend <br> Development</h3>
                    </div>
    
                    <span class="button button_flex button_small button_link services_button">
                        View more
                        <i class="uil uil-arrow-right button_icon"></i>
                    </span>

                    <div class="services_modal">
                        <div class="services_modal_content">
                            <h4 class="services_modal_title">Frontend <br> Development</h4>
                            <i class="uil uil-times services_modal_close"></i>

                            <ul class="services_modal_services grid">
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>B</p>
                                </li>
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>B</p>
                                </li>
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>B</p>
                                </li>
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>B</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <!-- Service 3  -->
                 <div class="services_content">
                    <div>
                        <i class="uil uil-desktop-alt services_icon"></i>
                        <h3 class="services_title">Frontend <br> Development</h3>
                    </div>
    
                    <span class="button button_flex button_small button_link services_button">
                        View more
                        <i class="uil uil-arrow-right button_icon"></i>
                    </span>

                    <div class="services_modal">
                        <div class="services_modal_content">
                            <h4 class="services_modal_title">Frontend <br> Development</h4>
                            <i class="uil uil-times services_modal_close"></i>

                            <ul class="services_modal_services grid">
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>A</p>
                                </li>
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>A</p>
                                </li>
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>A</p>
                                </li>
                                <li class="services_modal_service">
                                    <i class="uil uil-check-square services_modal_icon"></i>
                                    <p>A</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                

            </div>
        </section>
        <!-- Pencraft section -->
        <section class="pencraft section" id="pencraft">
        </section>
        <!-- Talks section -->
        <section class="talks section" id="talks">
        </section>
        <!-- Portfolio section -->
        <section class="portfolio section" id="portfolio">
            <h2 class="section_title">Portfolio</h2>
            <span class="section_subtitle">Most recent work</span> 

            <div class="portfolio_container container swiper mySwiper">
                <div class="swiper-wrapper">
                    <!-- Portfolio 1 -->
                    <div class="portfolio_content grid swiper-slide">
                        <img src="/assets/img/Portfolio_img_1.png" alt="Portfolio Image" class="portfolio_img">

                        <div class="portfolio_data">
                            <h3 class="portfolio_title">Topic Modeling</h3>
                            <p class="portfolio_description">Topic modeling of video call transcripts (Zoom) using Latent Dirichlet Allocation (LDA).</p>
                            <a href="#" class="button button_flex button_small portfolio_button">
                                View here <i class="uil uil-arrow-right button_icon"></i>
                            </a>
                        </div>
                    </div>
                     <!-- Portfolio 2 -->
                     <div class="portfolio_content grid swiper-slide">
                        <img src="/assets/img/Portfolio_img_2.png" alt="Portfolio Image" class="portfolio_img">

                        <div class="portfolio_data">
                            <h3 class="portfolio_title">Interactive Charts</h3>
                            <p class="portfolio_description">Interactive charts for frontend data visualization using flask and D3js</p>
                            <a href="#" class="button button_flex button_small portfolio_button">
                                View here <i class="uil uil-arrow-right button_icon"></i>
                            </a>
                        </div>
                    </div>
                     <!-- Portfolio 3 -->
                     <div class="portfolio_content grid swiper-slide">
                        <img src="/assets/img/Portfolio_img_1.png" alt="Portfolio Image" class="portfolio_img">

                        <div class="portfolio_data">
                            <h3 class="portfolio_title">Topic Modeling</h3>
                            <p class="portfolio_description">Topic modeling of video call transcripts (Zoom) using Latent Dirichlet Allocation (LDA).</p>
                            <a href="#" class="button button_flex button_small portfolio_button">
                                View here <i class="uil uil-arrow-right button_icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Swiper Arrows -->
                <div class="swiper-button-next">
                    <i class="uil uil-angle-right swiper_portfolio_icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="uil uil-angle-left swiper_portfolio_icon"></i>
                </div>
                <!-- Swiper Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </section>

        
    </main>

    <!-- Adding Swiper JS Script -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- Adding Main JS Script -->
    <script src="/assets/js/index.js"></script>
    
</body>
</html>