<h2 class="section_title">Qualification</h2>
<span class="section_subtitle">My Personal Journey</span>

<div class="qualification_container container">
    <div class="qualification_tabs">
        <div class="qualification_button button_flex">
            <i class="uil uil-graduation-cap qualification_icon"></i>
            Education
        </div>

        <div class="qualification_button button_flex">
            <i class="uil uil-constructor qualification_icon"></i>
            Work
        </div>
    </div>

    <div class="qualification_sections">

        <!-- Qualification section 1 -->
        <div class="qualification_content qualification_active" data-content id="education">
            <div class="qualification_data">
                <div>
                    <h3 class="qualification_title">Petroleum Engineering</h3>
                    <span class="qualification_subtitle">Rivers State University</span>
                    <div class="qualification_calendar">
                        <i class="uil uil-calendar-alt"></i>
                        2013 - 2018
                    </div>
                </div>

                <div>
                    <span class="qualification_rounder"></span>
                    <span class="qualification_line"></span>
                </div> 
            </div>

            <div class="qualification_data">
                <div></div>
                
                <div>
                    <span class="qualification_rounder"></span>
                    <span class="qualification_line"></span>
                </div> 

                <div>
                    <h3 class="qualification_title">Data Scientist</h3>
                    <span class="qualification_subtitle">Data Science Network</span>
                    <div class="qualification_calendar">
                        <i class="uil uil-calendar-alt"></i>
                        2018 - 2021
                    </div>
                </div>
            </div>

            <div class="qualification_data">
                <div></div>
                
                <div>
                    <span class="qualification_rounder"></span>
                    <span class="qualification_line"></span>
                </div> 

                <div>
                    <h3 class="qualification_title">Technology Business Analyst</h3>
                    <span class="qualification_subtitle">AXA Nigeria</span>
                    <div class="qualification_calendar">
                        <i class="uil uil-calendar-alt"></i>
                        2021 - 2022
                    </div>
                </div>
            </div>

            <div class="qualification_data">
                <div></div>
                
                <div>
                    <span class="qualification_rounder"></span>
                    <!-- <span class="qualification_line"></span> -->
                </div> 

                <div>
                    <h3 class="qualification_title">Co-Founder/CTO</h3>
                    <span class="qualification_subtitle">Raybase</span>
                    <div class="qualification_calendar">
                        <i class="uil uil-calendar-alt"></i>
                        2021 - Present
                    </div>
                </div>
            </div>

        </div>

        <!-- Qualification section 2 -->
        <div class="qualification_content" data-content id="work">
            <div class="qualification_data">
                <div>
                    <h3 class="qualification_title">Petroleum Engineering</h3>
                    <span class="qualification_subtitle">Rivers State University</span>
                    <div class="qualification_calendar">
                        <i class="uil uil-calendar-alt"></i>
                        2013 - 2018
                    </div>
                </div>

                <div>
                    <span class="qualification_rounder"></span>
                    <span class="qualification_line"></span>
                </div> 
            </div>

            <div class="qualification_data">
                <div></div>
                
                <div>
                    <span class="qualification_rounder"></span>
                    <span class="qualification_line"></span>
                </div> 

                <div>
                    <h3 class="qualification_title">Data Scientist</h3>
                    <span class="qualification_subtitle">Data Science Network</span>
                    <div class="qualification_calendar">
                        <i class="uil uil-calendar-alt"></i>
                        2018 - 2021
                    </div>
                </div>
            </div>

            <div class="qualification_data">
                <div></div>
                
                <div>
                    <span class="qualification_rounder"></span>
                    <span class="qualification_line"></span>
                </div> 

                <div>
                    <h3 class="qualification_title">Technology Business Analyst</h3>
                    <span class="qualification_subtitle">AXA Nigeria</span>
                    <div class="qualification_calendar">
                        <i class="uil uil-calendar-alt"></i>
                        2021 - 2022
                    </div>
                </div>
            </div>

            <div class="qualification_data">
                <div></div>
                
                <div>
                    <span class="qualification_rounder"></span>
                    <!-- <span class="qualification_line"></span> -->
                </div> 

                <div>
                    <h3 class="qualification_title">Co-Founder/CTO</h3>
                    <span class="qualification_subtitle">Raybase</span>
                    <div class="qualification_calendar">
                        <i class="uil uil-calendar-alt"></i>
                        2021 - Present
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>